*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 900px;
    border: 1px solid black;
    margin: auto;
    padding: 30px;
}

article{
    background-color: #f1f1f1;
    margin: auto;
    max-width: 850px;
    border: 1px solid black;
    padding: 10px;
}

.titulo{
    text-align: center;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.imagens{
    width:200px;
    height: 300px;
    background-color: rgb(5, 116, 5);
    margin: 10px;
}