main{
    margin: auto;
    max-width: 1000px;
}

.principal{
    margin: auto;
    width: 900px;
    height: 450px;
    background-color: aqua;
    display: flex;
}

.principal > .um{
    background-color: red;
    width: 450px;
    height: 450px;
}

.principal > .conteudo{
    background-color: black;
    width: 450px;
    height: 450px;
}
    
.principal > .conteudo > .dois{
    background-color: chartreuse;
    width: 450px;
    height: 220px;
}

.principal > .conteudo2 > .dois > .conteudo2{
    background-color: palevioletred;
    width: 450px;
    height: 450px;

}